@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




.quill-wrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.quill-wrapper .ql-container {
  flex-grow: 1;
}

.quill-wrapper .ql-editor {
  min-height: 300px;
  padding: 15px;
  box-sizing: border-box;
}

/* Divider between dropdown items */
.border-b {
  border-bottom: 1px solid #e5e7eb;
  /* Light gray color */
}

.last\:border-b-0:last-child {
  border-bottom: none;
}

.group-hover\:delay-1000 {
  transition-delay: 1s;
}


h1 {
  font-size: 2rem; /* 32px */
  font-weight: 700; /* Bold */
}

h2 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600; /* Semi-bold */
}

h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500; /* Medium */
}

h4 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500; /* Medium */
}

h5 {
  font-size: 1rem; /* 16px */
  font-weight: 400; /* Normal */
}

h6 {
  font-size: 0.875rem; /* 14px */
  font-weight: 400; /* Normal */
}

ul{
  list-style-type: circle;
}